/* 상세 페이지 css */
.carTitle {
  /* height: 120px; */
  padding: 0 15px;
  margin-bottom: 50px;
  position: relative;
}

.buyCar {
  width: 300px;
  position: absolute;
  top: 2%;
  right: 2%;
}

.buyCar > h2 {
  padding: 5px;
  text-align: right;
}

.buyCar > button {
  width: 100%;
  height: 60px;
  background: #1089ff;
  border: 1px solid #1089ff;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.buyCar > button:hover {
  opacity: 0.6;
  transition: 0.1s ease-in-out;
}

@media (max-width: 768px) {
  .buyCar {
    position: static;
  }
  .buyCar > h2 {
    text-align: left;
  }
}
